*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #faf8f8;
}
h2{
    color: rgb(7, 6, 6);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
.container{
    width: 400px;
    border-radius: 10px;
    /* background-color: lightcyan; */
    background-color: #f7f5f5;
    margin: auto;
    margin-top: 50px;
    padding: 30px 0px;
    margin-right: 800px;
    border-radius: 1px;
    box-shadow: 0 0 2px 2px rgb(156, 155, 155);
}

.form{
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form input{
    width: 360px;
    height: 30px;
    font-size: 14px;
    outline: 0;
}
.caption{
    border: 1px solid rgb(221, 217, 217);
}
.description{
    border: 1px solid rgb(221, 217, 217);
}
.form textarea{
    width: 360px;
    height: 100px;
    outline: 0;
}

.form button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
    font-size: 17px;
    background-color: rgb(6, 6, 10);
    color: white;
}