.main-class{
    display: flex;
    width: 1000px;
    margin: auto;
   height: 400px;
    margin-top: 50px;
    border: 1px solid rgb(240, 235, 235);
    box-shadow: 0 0 1px 1px rgb(211, 209, 209);
}
.main-class-1{
    width: 500px;
    height: 400px;
    background-color:rgb(236, 235, 235);
    border-radius: 1px;
}
h1{
    color: rgb(2, 2, 2);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.main-class-1 div{
    margin-top: -2px;
    color: rgb(5, 5, 5);
    margin-left: 20px;
    margin-bottom: 1px;
}
.main-class-1 .img{
    text-align: center;
}
.main-class-1 .img img{
    border-radius: 50%;
}
.main-1-div{
    padding-left: 80px;
}
.btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.main-class-1 button{
    width: 90px;
    height: 40px;
    border: none;
    border-radius:5px;
    margin-left: 10px;

}
.log-btn{
    color: white;
    background-color: blue;
    font-size: 15px;
}
.del-btn{
    color: aliceblue;
    background-color: brown;
    font-size: 15px;
}
.h-btn{
    width: 90px;
    height: 37px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    color: white;
    background-color: black;
    margin-right: 100px;
}
.h-btn a{
    text-decoration: none;
    color: white;
}

.main-class-2{
    width: 500px;
    /* background-color: bisque; */
}
.main-class-2 h3{
    text-align: center;
}
.add-post{
    text-align: right;
}
.post-btn{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    background-color: rgb(79, 5, 102);
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}
.post-page{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}