/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  background:rgb(253, 253, 253);
  overflow: hidden;
}

.wrapper {
  max-width: 500px;
  height: 560px;
  width: 370px;
  background:rgb(253, 253, 253);
  border: 1px solid rgb(163, 161, 161);
  border-radius: 3px;
  margin-right: 300px;
  margin-top: 30px;
  margin-bottom: 200px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 120px;
  background: rgb(253, 253, 253);
  border-radius: 5px 5px 0 0;
  color: #0e0d0d;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.wrapper form {
  padding: 25px 35px;
}

.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.wrapper form .row input {
    margin-top: 10px;
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 50px;
  border-radius: 5px;
  border: 1px solid rgb(221, 218, 218) ;
  font-size: 13px;
  background-color:rgb(202, 199, 199) ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #272929;
}

form .row input::placeholder {
  color:white;
}


.wrapper form .pass a {
  color: #050381;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button input {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  height: 40px;
  background: #53bdeb;
  border: 1px solid #53bdeb;
  cursor: pointer;
}

form .button input:hover {
  background:#53bdeb ;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color:dodgerblue ;
  text-decoration: none;
  font-weight: bold;
}

form .signup-link a:hover {
  text-decoration: underline;
}